@media screen and (min-width: 1025px) {
  .error-code {
    font-size: 150px;
    line-height: 200px;
  }

  .error-sentence {
    font-size: 23px;
    line-height: 40px;
    margin-bottom: 66px;
  }

  .error-link {
    display: inline-block;
    font-size: 16px;
    line-height: 25.67px;
  }
}

@media screen and (min-width: 1201px) {
  .error-code {
    font-size: 288px;
    line-height: 410.69px;
    margin: 0;
  }

  .error-sentence {
    font-size: 36px;
    /* line-height: 51.34px; */
    margin-bottom: 180px;
  }

  .error-link {
    display: inline-block;
    font-size: 18px;
  }
}
