.lodging-detail-box {
  text-align: center;
  margin: 0 20px;
}

/* Carousel */
.lodging-detail-box__image {
  border-radius: 10px;
  height: 255px;
}

.carousel-root .carousel-slider .control-arrow {
  opacity: 1;
}

.button {
  border: none;
  color: #fff;
  background-color: rgba(55, 55, 55, 0.5);
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 45%;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.button:hover {
  filter: brightness(80%);
}

.button-prev {
  left: 5px;
}

.button-next {
  right: 5px;
}

/* Info */
