.main-wrapper {
  position: relative;
  margin: 0 20px;
}

.top-section {
  position: relative;
  height: 111px;
}

.top-section figure {
  background: url("../../assets/home-img.png") center center/cover no-repeat;
  border-radius: 10px;
  filter: brightness(70%);
  height: 111px;
  width: 100%;
  position: absolute;
}

.slogan {
  position: absolute;
  left: 9%;
  right: 25%;
  font-size: 24px;
  line-height: 100%;
  height: 111px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.lodgings-section {
  margin-top: 22px;
}

.lodgings-section article {
  position: relative;
  margin-bottom: 20px;
}

.lodgings-section article:hover {
  filter: brightness(70%);
}

.lodgings-section img {
  width: 100%;
  height: 255px;
  border-radius: 10px;
}

.lodgings-section figcaption {
  position: absolute;
  left: 19.71px;
  right: 19.71px;
  bottom: 15px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: #fff;
  width: fit-content;
  background-color: rgba(55, 55, 55, 0.5);
  border-radius: 10px;
  padding: 5px;
}
