@media screen and (min-width: 769px) {
  .slogan {
    justify-content: center;
    width: 100%;
    left: 0;
    right: 0;
  }

  .lodgings-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .lodgings-section article {
    width: 48%;
  }
}

@media screen and (min-width: 1201px) {
  .main-wrapper {
    margin: 63px 100px 0;
  }

  .top-section figure {
    height: 223px;
  }

  .slogan {
    font-size: 48px;
    height: 223px;
  }

  .lodgings-section {
    margin-top: 145px;
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 56px 50px;
    justify-content: center;
  }

  .lodgings-section article {
    width: 30%;
    margin-left: 30px;
  }

  .lodgings-section img {
    width: 100%;
    height: 340px;
  }
}
