@media screen and (min-width: 1025px) {
  .navbar {
    margin: 0 100px;
    padding: 80px 0;
  }

  .logo {
    width: 210px;
  }

  .link {
    font-size: 24px;
  }

  .link li:first-child {
    margin-right: 57px;
  }
}
