.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 83px;
  margin: 0 20px;
}

.logo {
  width: 145px;
}

.link {
  display: flex;
  font-size: 12px;
  line-height: 17px;
}

.link li:first-child {
  margin-right: 10px;
}

.link li:hover {
  text-decoration: underline;
}
