.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 209px;
}

.footer p {
  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
  margin-top: 35px;
  color: #fff;
}
