* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  object-fit: cover;
}

/* Container Scroll */
.container {
  height: 100vh;
}

.scroll-container {
  overflow-y: auto;
  height: calc(100vh - 67px - 60px);
}

/* Colors */
.primary-color {
  color: #ff6060;
}
