.accordion {
  min-height: calc(100vh - 50vh);
}

.info {
  margin: 20px;
}

.info-title {
  background-color: #ff6060;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  padding: 5.5px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.info-text {
  background-color: #f7f7f7;
  color: #ff6060;
  margin-bottom: 20px;
  padding: 23px 10px;
  font-size: 12px;
  border-radius: 5px;
}

/* About Page */
.header-about {
  background: url("../../assets/aboutImg.png") center center/cover no-repeat;
  filter: brightness(70%);
  height: 223px;
  border-radius: 10px;
  margin: 0 20px;
}
