.accordion {
  min-height: calc(100vh - 209px - 83px);
}

.info {
  margin: 20px;
}

.info-title {
  background-color: #ff6060;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  padding: 5.5px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.info-text {
  background-color: #f7f7f7;
  color: #ff6060;
  margin-bottom: 20px;
  padding: 23px 10px;
  font-size: 12px;
  border-radius: 5px;
}
